<transition :name="transitionName">
    <cs-page class="cs-Statistics-1 cs-lczCommon" :class="{ 'top-layer':topLayer }">
        <cs-header title="2015级1班">
            <router-link to="/Main/Greades" slot="left">
                <cs-button icon="fa fa-chevron-left">返回</cs-button>
            </router-link>
             <cs-button slot="right" icon="fa fa-search l-icon" @click="search"></cs-button>
              <cs-button slot="right" class="line l-icon"></cs-button>
              <cs-button slot="right" icon="fa fa-trophy l-icon" @click="search"></cs-button>
             <!-- fa-thumbs-up  -->
        </cs-header>
        <cs-contenter v-if="page_1">
            <div class="top">
                <div class="top-left" @click="menuChange">
                    <div class="alertBox" @click="action1">
                        <img src="../../../assets/system/allEvalute-pen.png" class="datelist">
                        <span class="classSay">班级评价</span>
                        <i class="tobottom fa fa-chevron-down"></i>
                    </div>
                </div>
                <div class="top-right" @click="action04">
                    <img src="../../../assets/system/datelist_03.png" class="icon">
                    <span class="classSay">今天</span>
                    <i class="tobottom fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="middle">
                <ul class="evaluate">
                    <li class="left" @click="show(1)">班级统计</li>
                    <li class="right" @click="show(2)">数据统计</li>
                </ul>
                <!-- <ul class="situation">
                    <li class="great">优 58</li>
                    <li class="good">良 78</li>
                    <li class="passable">中 12</li>
                    <li class="bad">差 0</li>
                </ul> -->
            </div>
            <cs-loadmore :top-method="loadTop" :top-all-loaded="loadingTop" ref="loadmoretop">

                <div class="container">
                    <table class="time">
                        <thead>
                            <tr>
                                <td>班级</td>
                                <td>总评</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in list" @click="go">
                                <td class="timer">
                                    <img :src="item.icon" class="icon"> <span>{{item.class}}</span>
                                </td>
                                <td class="eva">
                                    <i class="circle" :class="item.css">{{item.evalute}}</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </cs-loadmore>
        </cs-contenter>



        <!--page2-->
        <cs-contenter v-if="page_2" class="cs-dataStatistics">
            <div class="top">
                <div class="top-left" @click="menuChange">
                    <div @click="action02">
                        <img src="../../../../assets/system/allEvalute-pen.png" class="datelist">
                        <span class="classSay">班级评价</span>
                        <i class="tobottom fa fa-chevron-down"></i>
                    </div>
                </div>
                <div class="top-right" @click="action03">
                    <img src="../../../../assets/system/datelist_03.png" class="icon">
                    <span class="classSay">今天</span>
                    <i class="tobottom fa fa-chevron-down"></i>
                </div>
            </div>
            <div class="middle">
                <ul class="evaluate">
                    <li class="left" @click="show(1)">班级统计</li>
                    <li class="right in" @click="show(2)">数据统计</li>
                </ul>

            </div>
            <cs-loadmore :top-method="loadTop" :top-all-loaded="loadingTop" ref="loadmoretop">

                <div class="container">
                    <table class="time">
                        <thead>
                            <tr>
                                <td>* 统计数据为次数</td>
                                <td class="fgreat">优</td>
                                <td class="fgood">良</td>
                                <td class="fpassable">中</td>
                                <td class="fbad">差</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in list_2" @click="go_2">
                                <td class="timer">
                                    <img :src="item.icon" class="icon">
                                    <span>{{item.class}}</span>
                                </td>
                                <td>
                                    <i class="circle great">{{item.great}}</i>
                                </td>
                                <td>
                                    <i class="circle good">{{item.good}}</i>
                                </td>
                                <td>
                                    <i class="circle passable">{{item.passable}}</i>
                                </td>
                                <td>
                                    <i class="circle bad">{{item.bad}}</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </cs-loadmore>
        </cs-contenter>


        <!--alert-->
        <cs-actionsheet :actions="[{
                            name: '拍照',
                            method: itemclick
                        }, {
                            name: '从相册中选取',
                            method: itemclick
                        }]" v-model="sheet1.sheetVisible"></cs-actionsheet>

        <cs-actionsheet :actions="[{
                            name: '拍照2',
                            method: itemclick
                        }, {
                            name: '从相册中选取',
                            method: itemclick
                        }]" v-model="sheet2.sheetVisible"></cs-actionsheet>
        <cs-actionsheet :actions="[{
                            name: '拍照33',
                            method: itemclick
                        }, {
                            name: '从相册中选取',
                            method: itemclick
                        }]" v-model="sheet3.sheetVisible"></cs-actionsheet>
        <cs-actionsheet :actions="[{
                            name: '拍照4',
                            method: itemclick
                        }, {
                            name: '从相册中选取',
                            method: itemclick
                        }]" v-model="sheet4.sheetVisible"></cs-actionsheet>



    </cs-page>
</transition>