<cs-popup v-model="popupVisible" background="transparent" position="bottom">
    <div class="cs-viewer" ref="csViewer">
        <div class="cs-viewer-scroller" ref="viewerScroller" :data-index="pageIndex">
            <span class="viewer-container last" :style="uri(pageIndex - 1)"></span>
            <span class="viewer-container current" :style="uri(pageIndex)"></span>
            <span class="viewer-container next" :style="uri(pageIndex + 1)"></span>
        </div>
        <div class="bar">
            <span v-for="(item, index) in images" :class="[pageIndex == index ? 'current' : '']"></span>
        </div>
    </div>
</cs-popup>