<cs-popup v-model="popupVisible" background="transparent" popup-transition="popup-fade">
    <div class="cs-viewer">
       <transition-group :name="animate">
            <span class="viewer-container"
                v-for="(item, index) in images"
                :key="item"
                :style="uri(item)"
                v-show="pageIndex == index"
                ></span>
       </transition-group>
       <a href="javascript:;" class="cs-viewer-left" @click="scroll(true)"></a>
       <a href="javascript:;" class="cs-viewer-right" @click="scroll(false)"></a>
       <div class="bar">
           <span v-for="(item, index) in images" :class="[pageIndex == index ? 'current' : '']"></span>
       </div>
    </div>
</cs-popup>