<transition :name="transitionName">
    <cs-page class="cs-statistical-indicators common-style-1" :class="{ 'top-layer':topLayer }">
        <cs-header title="2015级1班">
            <router-link to="/Main/Greades/Statistics/Select-date" slot="left">
                <cs-button icon="fa fa-chevron-left">返回</cs-button>
            </router-link>
            <cs-button slot="right" icon="fa fa-file-text"></cs-button>
            <cs-button slot="right" class="line"></cs-button>
            <router-link to="" slot="right">
                <cs-button icon="fa fa-th-large"></cs-button>
            </router-link>
        </cs-header>
        <cs-contenter>
            <div class="chose-type section-container lr">
                <div class="menu" @click="action1">
                    <i class="fa fa-pencil-square left-icon"></i>班级评价
                    <i class="fa fa-chevron-down righy-icon"></i>
                </div>
                <span class="line"></span>
                <router-link to="/Main/Greades/Statistics/Select-date">
                    <i class="fa fa-calendar left-icon"></i>起：2017-08-02 至：2017-09-05
                </router-link>
            </div>
            <div class="Statistics-type">
                <div class="type" :class="[page==0?'active':'']" @click="changePage(0)">总评统计</div>
                <div class="type" :class="[page==1?'active':'']" @click="changePage(1)">指标统计</div>
            </div>
            <div class="Statistics-box" v-if="page==0">
                <div class="Statistics-type Statistics-type-evaluate">
                    <div class="type-evaluate type1">优<span>56</span></div>
                    <div class="type-evaluate type2">良<span>72</span></div>
                    <div class="type-evaluate type3">中<span>12</span></div>
                    <div class="type-evaluate type4">差<span>0</span></div>
                </div>
                <div class="Statistics-title section-container lr">
                    <div class="time">日期</div>
                    <div class="result">平均结果</div>
                </div>
                <ul class="Statistics-content section-container lr">
                    <li v-for="item in StatisticsList">
                        <router-link to="/Main/Greades/Statistics/Today-assessment" class="Statistics-title Statistics-list">
                            <div class="time"><i class="fa fa-calendar calendar-icon"></i>{{item.time}}</div>
                            <div class="result">
                                <div class="result-type" v-bind:class="[item.typeB]">{{item.status}}</div>
                            </div>
                        </router-link>
                    </li>
                </ul>
            </div>
            <ul class="Statistics-box section-container lr" v-if="page==1">
                <li v-for="item in evaluateList">
                    <div class="index-title" @click="item.open=!item.open">
                        <div>
                            <img v-bind:src="item.iconImg" alt="" class="title-icon">
                            <span>{{item.title}}</span>
                        </div>
                        <div class="state-result">
                            <i class="down-icon fa" :class="[item.open ? 'fa-chevron-up':'fa-chevron-down']"></i>
                        </div>
                    </div>
                    <ul class="details-box section-container lr" v-show="item.open">
                        <li class="details-list" v-for="detailslist in item.detailslist">
                            <router-link to="/Main/Greades/Statistics/Index-details">
                                <div class="details-list-title">
                                    {{detailslist.listText}}
                                </div>
                                <div class="details-list-score section-container lr">
                                    <div class="type-list">整齐<span>{{detailslist.numberA}}</span></div>
                                    <div class="type-list">不整齐<span>{{detailslist.numberB}}</span></div>
                                    <div class="type-list">非常差<span>{{detailslist.numberC}}</span></div>
                                </div>
                            </router-link>
                        </li>
                    </ul>
                </li>
            </ul>

        </cs-contenter>
        <cs-actionsheet :actions="btnName" v-model="sheet1.sheetVisible"></cs-actionsheet>
    </cs-page>
</transition>