.cs-dataStatistics {
    .top {
        box-sizing: border-box;
        height: toRem(95);
        border-bottom: 1px solid #ddd;
        display: flex;
    }
    .top-left {
        height: toRem(50);
        width: 50%;
        float: left;
        margin-top: toRem(25);
    }
    .top-right {
        height: toRem(50);
        width: 50%;
        float: left;
        margin-top: toRem(25);
        line-height: toRem(50);
        text-align: center;
    }
    .top-left {
        border-right: 1px solid #ddd;
    }
    .top-left>div,
    .top-right>div {
        width: 100%;
        height: toRem(50);
        margin: 0 auto;
        text-align: center;
        line-height: toRem(50);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .top-right .icon {
        display: inline-block;
        width: toRem(33);
        height: toRem(32);
        background-size: contain;
        vertical-align: middle;
        margin-right: toRem(5);
    }
    .top-right span {
        display: inline-block;
        vertical-align: middle;
    }
    .datelist {
        display: inline-block;
        width: toRem(33);
        height: toRem(32);
        background-size: contain;
        vertical-align: middle;
        margin-right: toRem(5);
    }
    .classSay {
        display: inline-block;
        vertical-align: middle;
    }
    .tobottom {
        display: inline-block;
        color: #7d9096;
        background-size: contain;
        margin-left: toRem(20);
        vertical-align: middle;
    }
    .top-right p {
        float: left;
        width: 50%;
        line-height: toRem(50);
    }
    .middle {
        padding: toRem(30);
        border-top: toRem(10) solid rgb(241, 241, 241);
        .evaluate {
            text-align: center;
            font-size: 0;
            li {
                font-size: toRem(25);
                display: inline-block;
                width: toRem(200);
                height: toRem(60);
                line-height: toRem(60);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .left {
                border: 1px solid rgb(212, 212, 212)
            }
            .right {
                border: 1px solid rgb(212, 212, 212)
            }
            .in {
                border: 1px solid rgb(60, 180, 241);
                color: rgb(60, 180, 241);
            }
        }
        .situation {
            margin-top: toRem(45);
            text-align: center;
            li {
                display: inline-block;
                min-width: toRem(90);
                height: toRem(60);
                line-height: toRem(60);
                margin: 0 toRem(15);
            }
        }
    }
    .container {
        table.time {
            width: 100%;
            text-align: center;
            thead {
                tr {
                    border-bottom: 1px solid rgb(241, 241, 241);
                }
                td {
                    padding: toRem(15) 0;
                }
                td:nth-child(1) {
                    color: rgb(231, 231, 231);
                    width: toRem(300);
                }
            }
            tbody {
                padding-left: toRem(30);
                tr {
                    border-bottom: 1px solid rgb(241, 241, 241);
                    padding-left: toRem(30);
                }
                td {
                    height: toRem(100);
                    line-height: toRem(100);
                    min-width: toRem(100);
                }
                td:nth-child(1) {
                    width: toRem(300);
                }
                .timer {
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .icon {
                        display: inline-block;
                        width: toRem(33);
                        height: toRem(39);
                        background-size: contain;
                        vertical-align: middle;
                        margin-right: toRem(15);
                    }
                }
                .circle {
                    display: inline-block;
                    min-width: toRem(60);
                    height: toRem(60);
                    line-height: toRem(60);
                    text-align: center;
                    border-radius: 50%;
                    padding: toRem(5);
                }
            }
        }
    }
    // font backgound color
    .great {
        background: rgb(231, 245, 240);
        color: rgb(93, 191, 153);
    }
    .good {
        background: rgb(226, 244, 253);
        color: rgb(60, 180, 241);
    }
    .passable {
        background: rgb(253, 241, 227);
        color: rgb(240, 158, 67);
    }
    .bad {
        background: rgb(255, 232, 232);
        color: rgb(255, 102, 102);
    }
    // fontcolor
    .fgreat {
        color: rgb(93, 191, 153);
    }
    .fgood {
        color: rgb(60, 180, 241);
    }
    .fpassable {
        color: rgb(240, 158, 67);
    }
    .fbad {
        color: rgb(255, 102, 102);
    }
}