.cs-detail {
    .header {
        font-size: toRem(35);
        padding: 0 toRem(20);
        p {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            i {
                img {
                    width: toRem(40);
                    height: toRem(47);
                    margin-right: toRem(10);
                }
            }
            span {
                flex: 1;
                line-height: toRem(47);
                word-break: break-all;
                white-space: normal;
            }
        }
    }
    .title {
        padding: toRem(40) toRem(40) 0 toRem(40);
        color: rgb(116, 127, 131);
        font-size: toRem(25);
        .title1 {
            display: flex;
            div:nth-child(1) {
                float: left;
            }
            div:nth-child(2) {
                float: left;
                margin-left: toRem(125);
            }
        }
    }
    .send-obj {
        padding-top: toRem(30);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .name {
            width: 130px;
        }
        img {
            width: toRem(30);
            height: auto;
        }
        .objs {
            height: toRem(30);
            overflow: hidden;
        }
    }
    .main {
        padding: toRem(40) toRem(40);
        color: rgb(116, 127, 131);
        font-size: toRem(20);
        word-break: break-all;
        white-space: normal;
        text-align: justify;
    }
}