                .cs-main {
                    .cs-contenter {
                        display: flex;
                        flex-direction: column;
                    }
                    .section-container {
                        &.content {
                            .user-panel {
                                width: 100%;
                                height: auto;
                                min-height: toRem(310);
                                margin-bottom: toRem(30);
                                border-radius: toRem(20);
                                box-shadow: toRem(2) toRem(2) toRem(5) #ccc;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .identity,
                                .identity-title {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    font-size: toRem(34);
                                    color: #224758;
                                    img {
                                        width: toRem(193);
                                        height: auto;
                                    }
                                }
                                .identity {
                                    flex: 1;
                                }
                                .identity-title {
                                    flex: 0.9;
                                }
                            }
                            .user-panel__admin {
                                background: #e1f6ff;
                            }
                            .user-panel__teacher {
                                background: #daf7f4;
                            }
                            .user-panel__parent {
                                background: #f7f4dd;
                            }
                        }
                    }
                }