.cs-Name{
    .name{
       padding: toRem(25) toRem(12);
    }
    .cs-button{
        text-align: left;
        padding-left: toRem(30);
    }
}
/*    .name input{
        box-sizing: border-box;
        width: 100%;
        height: toRem(90);
        border-radius: toRem(10);
        border:1px solid rgb(212,212,212);
        padding-left: toRem(30);  
    }*/