.cs-ranking{
.top-bar{
    display: flex;
    height: toRem(95);
    border-bottom: 1px solid #ddd;
    align-items: center;
    position: relative;
   
}
.top-bar div{
    text-align: center;
}
.percent1{
    flex: 1;
}
.percent2{
    flex: .6;
}
.percent3{
    flex: .8;
}
.box{
    display: flex;
    align-items: center;
}
.portrait{
    width: toRem(70);
    height: toRem(80);
}
.name{
    text-align: left;
}
.lcz-date{
    background:url("/assets/system/date_03.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: toRem(35);
    height:toRem(35);
}
.menu{
    width: toRem(370);
    z-index: 50;
    position:absolute;
    right: 0;
    top:0;
    background-color: rgba(248,248,248,0.8);
    ul li{
        height: toRem(90);
        line-height: toRem(90) !important;
        text-align: center;
        font-size: toRem(30);
        border-bottom: 1px solid #ddd;
    }
}
.font{
    display: inline-block;
    width:toRem(60);
    text-align: center;
    line-height:toRem(60);
    background-color: rgb(229,229,229);
    color:white;
    border-radius: 50%;
}
.font-blue{
    color: rgb(41,143,196) !important;
}
.font-green{
    color:rgb(59,176,131) !important;
}
.font-red{
    color:rgb(216,69,45) !important;
}
.bg-blue{
    background-color: rgb(208,236,255) !important;
}
.bg-green{
    background-color: rgb(183,238,211) !important;
}
.bg-red{
    background-color: rgb(248,223,217) !important;
}

}