.cs-Statistics {
    font-size: toRem(30);
    .top {
        box-sizing: border-box;
        height: toRem(95);
        border-bottom: 1px solid #ddd;
        display: flex;
    }
    .top-left,
    .top-right {
        height: toRem(50);
        width: 50%;
        float: left;
        margin-top: toRem(25);
    }
    .top-left {
        border-right: 1px solid #ddd;
    }
    .top-left>div,
    .top-right>div {
        width: 100%;
        height: toRem(50);
        margin: 0 auto;
        text-align: center;
        line-height: toRem(50);
    }
    .datelist {
        display: inline-block;
        width: toRem(33);
        height: toRem(32);
        background: url("/assets/system/datelist_03.png") no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: toRem(20);
    }
    .tobottom {
        width: toRem(25);
        height: toRem(13);
        display: inline-block;
        background: url("/assets/system/tobottom.png") no-repeat;
        background-size: contain;
        margin-left: toRem(20);
        vertical-align: middle;
    }
    .top-right p {
        float: left;
        width: 50%;
        line-height: toRem(50);
    }
    .add {
        text-align: right;
    }
    .add i {
        display: inline-block;
    }
    .add i img {
        width: toRem(35);
        height: toRem(35);
    }
    .reduce i {
        display: inline-block;
    }
    .reduce i img {
        width: toRem(35);
        height: toRem(35);
    }
    .circle-box {
        // margin-left: toRem(33);
    }
    .circle {
        height: toRem(760);
    }
    .menu {
        width: toRem(370);
        z-index: 50;
        position: absolute;
        left: 0;
        top: toRem(90);
        background-color: rgba(248, 248, 248, 0.8);
        box-shadow: 0 0 5px #ccc;
        ul li {
            height: toRem(90);
            line-height: toRem(90) !important;
            text-align: center;
            font-size: toRem(30);
            border-bottom: 1px solid #ddd;
        }
    }
    .font-blue {
        color: rgb(41, 143, 196) !important;
    }
    .fixed-header {
        background: none;
    }
    .cs-header .top {
        width: 100%;
    }
    // 2
    .cs-box{
        padding-left: toRem(20);
        .title{
            line-height: toRem(80);
            color: rgb(160,160,160);
            border-bottom: 1px solid #ddd;
        }
        .list{
            &>li{
                border-bottom: 1px solid #ddd;
                padding:toRem(30) 0;
                &:after{
                    content:"";
                    display: block;
                    clear: both;
                }
                .pic-title{
                    float: left;
                    width: toRem(120);
                    height: toRem(120);
                    margin-right: toRem(40);
                    position: relative;
                    &>img{
                        width: 100%;
                        height: auto;
                    }
                    .count{
                        position: absolute;
                        right: toRem(-20);
                        top: toRem(-20);
                        height: toRem(50);
                        line-height: toRem(50);
                        min-width: toRem(50);
                        text-align: center;
                        color: white;
                        background: red;
                        border-radius: 50%;
                        &.add{
                            background: rgb(237,117,109);
                        }
                        &.reduce{
                            background: rgb(93,191,153);
                        }
                    }
                }
                .reason{
                    float: left;
                    vertical-align: top;
                    width: toRem(500);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: toRem(30);
                }
                .msg{
                    float: left;
                    margin-top: toRem(10);
                    .send{
                        color: rgb(114,114,114);
                        font-size: toRem(20);
                        padding: toRem(5) 0;
                    }
                    .pic-arr{
                        margin-top: toRem(20);
                        width: toRem(550);
                        float: left;
                        font-size: 0;
                        &>img{
                            width: toRem(90);
                            height: auto;
                            margin-right: toRem(20);
                            margin-bottom: toRem(20);
                        }    
                    }
                    .time{
                        color: rgb(114,114,114);
                        margin-top: toRem(20);
                        font-size: toRem(25);
                    }
                }
                
            }
        }
    }
    // 修改插件样式
    .cs-cell-wrapper{
        overflow: visible;
        padding: 0;
        background-image: none;
    }
    .cs-cell{
        overflow: visible;
    }
    .cs-cell-value{
        width: 100%;
        display: block;
    }
    .cs-cell-right{
        height: auto; 
        top:toRem(-30);
        bottom: toRem(-30);
    }
    .cs-cell-swipe-button:before{
        content:"";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 1px;
    }
    .cs-cell-swipe-button{
        white-space: nowrap;
        text-align: center;
    }
    .cs-cell:last-child{
        background-image: none;
    }
}

.cs-Statistics-1 {
    font-size: toRem(30);
    .top {
        box-sizing: border-box;
        height: toRem(95);
        border-bottom: 1px solid #ddd;
        display: flex;
    }
    .top-left {
        height: toRem(50);
        width: 50%;
        float: left;
        margin-top: toRem(25);
    }
    .top-right {
        height: toRem(50);
        width: 50%;
        float: left;
        margin-top: toRem(25);
        font-size: toRem(25);
        line-height: toRem(50);
        text-align: center;
        // color: rgb(225, 225, 225);
    }
    .top-left {
        border-right: 1px solid #ddd;
        font-size: toRem(25);
    }
    .top-left>div,
    .top-right>div {
        width: 100%;
        height: toRem(50);
        margin: 0 auto;
        text-align: center;
        line-height: toRem(50);
        // overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .top-right .icon {
        display: inline-block;
        width: toRem(33);
        height: toRem(32);
        background: url("/assets/system/datelist_03.png") no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: toRem(10);
    }
    .datelist {
        display: inline-block;
        width: toRem(33);
        height: toRem(32);
        background-size: contain;
        vertical-align: middle;
        margin-right: toRem(10);
    }
    // .tobottom {
    //     width: toRem(25);
    //     display: inline-block;
    //     background-size: contain;
    //     margin-left: toRem(20);
    //     vertical-align: middle;
    //     color: #7d9096;
    // }
    .top-right p {
        float: left;
        width: 50%;
        line-height: toRem(50);
    }
    .middle {
        padding: toRem(30);
        border-top: toRem(10) solid rgb(241, 241, 241);
        .evaluate {
            text-align: center;
            font-size: 0;
            li {
                font-size: toRem(25);
                display: inline-block;
                width: toRem(200);
                height: toRem(60);
                line-height: toRem(60);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .left {
                border: 1px solid rgb(60, 180, 241);
                color: rgb(60, 180, 241);
            }
            .right {
                border: 1px solid rgb(212, 212, 212)
            }
        }
        .situation {
            margin-top: toRem(45);
            text-align: center;
            li {
                display: inline-block;
                min-width: toRem(90);
                height: toRem(60);
                line-height: toRem(60);
                margin: 0 toRem(15);
            }
        }
    }
    .container {
        table.time {
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            thead {
                tr {
                    border-bottom: 1px solid rgb(241, 241, 241);
                }
                td {
                    padding: toRem(15) 0;
                    color: rgb(129, 144, 149);
                }
                td:nth-child(1) {
                    // text-align: left;
                    width: toRem(400);
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid rgb(241, 241, 241);
                }
                td {
                    height: toRem(100);
                    line-height: toRem(100);
                }
                td:nth-child(1) {
                    // text-align: left;
                    width: toRem(400);
                }
                .timer {
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    .icon {
                        display: inline-block;
                        width: toRem(70);
                        height: toRem(70);
                        background-size: contain;
                        vertical-align: middle;
                        margin-right: toRem(10);
                    }
                }
                .circle {
                    display: inline-block;
                    min-width: toRem(60);
                    height: toRem(60);
                    line-height: toRem(60);
                    text-align: center;
                    border-radius: 50%;
                    padding: toRem(5);
                }
            }
        }
    }
    // color
    .great {
        background: rgb(231, 245, 240);
        color: rgb(93, 191, 153);
    }
    .good {
        background: rgb(226, 244, 253);
        color: rgb(60, 180, 241);
    }
    .passable {
        background: rgb(253, 241, 227);
        color: rgb(240, 158, 67);
    }
    .bad {
        background: rgb(255, 232, 232);
        color: rgb(255, 102, 102);
    }
    .classSay {
        display: inline-block;
        vertical-align: middle;
    }

}
// common
.cs-lczCommon {
    .go {
        color: black;
    }
    .line .cs-button-text{
        width: 1px;
        height: toRem(52);
        background: rgba(255,255,255,.6);
        display: inline-block;
        vertical-align: middle;
    }
    .cs-header .cs-header-button .l-icon{
        margin: 0 toRem(10);
        font-size: toRem(40);
    }
}

