.cs-student {
    .section-container {
        .content-box {
            .content {
                width: 25%;
                height: toRem(247);
                padding: toRem(10);
                float: left;
            }
            .show-img {
                position: relative;
                height: toRem(167);
                line-height: toRem(167);
                background: #f2f9ff;
                text-align: center;
                img {
                    width: toRem(94);
                    height: toRem(109);
                }
                .score {
                    width: toRem(50);
                    height: toRem(50);
                    line-height: toRem(50);
                    text-align: center;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    right: toRem(4);
                    font-size: toRem(12);
                }
                .score1 {
                    background: #b6ebdb;
                    color: #45937b;
                    top: toRem(4);
                }
                .score2 {
                    background: #fae0d3;
                    color: #bc4644;
                    top: toRem(65);
                }
            }
        }
        .state-list {
            height: toRem(60);
            line-height: toRem(70);
            font-size: toRem(20);
            text-align: center;
        }
    }
    .cs-footer {
        border-top: 1px $border-color solid;
        &>a {
            color: $cell-value-color;
            flex: 1;
            img {
                height: toRem(40);
                width: auto;
            }
            span {
                display: block;
            }
        }
    }
}