.cs-StudentMul {
    .section-container {
        .content-box {
            .content {
                width: 25%;
                height: toRem(247);
                padding: toRem(10);
                float: left;
            }
            .show-img {
                position: relative;
                height: toRem(167);
                line-height: toRem(167);
                background: #f2f9ff;
                text-align: center;
                img {
                    width: toRem(94);
                    height: toRem(109);
                }
                .score {
                    width: 100%;
                    height: toRem(217);
                    line-height: toRem(217);
                    text-align: center;
                    position: absolute;
                    right: toRem(0);
                    top: toRem(0);
                    font-size: toRem(12);
                    .checkbox-box {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 3;
                            opacity: 0;
                        }
                        input[type=checkbox]:checked+label {
                            background: url("/assets/system/icon-gou2.png") no-repeat;
                            background-size: contain;
                        }
                        label {
                            display: block;
                            width: toRem(50);
                            height: toRem(50);
                            cursor: pointer;
                            position: absolute;
                            top: toRem(8);
                            right: toRem(8);
                            z-index: 1;
                            background: url("/assets/system/icon-gou1.png") no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        .state-list {
            height: toRem(60);
            line-height: toRem(70);
            font-size: toRem(20);
            text-align: center;
        }
    }
    .cs-footer {
        &>a {
            color: $cell-value-color;
            align-self: stretch;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-white;
        }
        .cancel {
            background: #aabbc3;
            flex: 0.5;
        }
        .Send-out {
            background: $color-blue;
            flex: 1;
        }
    }
}