<transition :name="transitionName">
    <cs-page class="cs-Greades common-style-1" :class="{ 'top-layer':topLayer }">
        <cs-header title="班级评价" v-show="!searchState">
            <router-link to="/Main/FormComponents" slot="left">
                <div class="img-header">
                    <img src="/assets/system/icon-Greades01.png" class="header" alt="">
                    <img src="/assets/system/icon-Greades02.png" class="msg" alt="">
                    <div class="msg-box">1</div>
                </div>
            </router-link>

            <cs-button slot="right" icon="fa fa-search" @click="searchState = !searchState"></cs-button>
            <cs-button slot="right" class="line"></cs-button>
            <router-link to="" slot="right">
                <cs-button icon="fa fa-bars" @click.native="action1"></cs-button>
            </router-link>
        </cs-header>
        <cs-search v-model="search" v-show="searchState" ref="search"></cs-search>
        <cs-contenter>
            <div class="section-container lr">
                <div class="big-title">
                    <img src="/assets/system/icon-Greades03.png" class="msg" alt="">
                    <time>2015-08-11</time>
                    <span>班级评价</span>
                </div>
                <ul class="content-box">
                    <li class="content">
                        <router-link to="/Main/Greades/school">
                            <div class="show-img">
                                <img src="/assets/system/icon-Greades04.png" class="msg" alt="">
                                <div class="state state1">已完成</div>
                            </div>
                        </router-link>
                        <div class="state-list">
                            <span>已完成</span>
                            <span>100%</span>
                            <div class="Progress-bar"><img src="/assets/system/icon-Greades05.png" class="msg" alt=""></div>
                        </div>
                    </li>
                    <li class="content">
                        <router-link to="/Main/Greades/school">
                            <div class="show-img">
                                <img src="/assets/system/icon-Greades04.png" class="msg" alt="">
                                <div class="state state2">已完成</div>
                            </div>
                        </router-link>
                        <div class="state-list">
                            <span>已完成</span>
                            <span>100%</span>
                            <div class="Progress-bar"><img src="/assets/system/icon-Greades05.png" class="msg" alt=""></div>
                        </div>
                    </li>
                    <li class="content">
                        <router-link to="/Main/Greades/school">
                            <div class="show-img">
                                <img src="/assets/system/icon-Greades04.png" class="msg" alt="">
                                <div class="state state3">已完成</div>
                            </div>
                        </router-link>
                        <div class="state-list">
                            <span>已完成</span>
                            <span>100%</span>
                            <div class="Progress-bar"><img src="/assets/system/icon-Greades05.png" class="msg" alt=""></div>
                        </div>
                    </li>
                </ul>
            </div>
        </cs-contenter>
        <cs-footer>
            <router-link to="/Main/Greades/Statistics">
                <img src="/assets/system/icon-Greades06.png" class="msg" alt="">统计分析
            </router-link>
            <span class="line"></span>
            <router-link to="/Main/Greades/chooseAnnouncementObject">
                <img src="/assets/system/icon-Greades07.png" class="msg" alt="">发布公告
            </router-link>
        </cs-footer>
        <cs-actionsheet :actions="btnName" v-model="sheet1.sheetVisible"></cs-actionsheet>
    </cs-page>
</transition>