html,
body {
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: none;
}

.section-container {
    padding: toRem(30);
    h1{
        color: $_base_color;
        font-size: toRem(36);
        i{
            margin-right: toRem(20);
        }
    }
    &.rbl{
        padding: 0 toRem(30) toRem(30) toRem(30);
    }
    &.tbl {
        padding: toRem(30) 0 toRem(30) toRem(30);
    }
    &.trl {
        padding: toRem(30) toRem(30) 0 toRem(30);
    }
    &.trb {
        padding: toRem(30) toRem(30) toRem(30) 0;
    }
    &.tb {
        padding: toRem(30) 0 toRem(30) 0;
    }
    &.lr {
        padding: 0 toRem(30) 0 toRem(30);
    }
}

@import './business/common/evaluate';
@import './business/login';
@import './business/main';
@import './business/common-style-x';
@import './business/Greades';
@import './business/student';
@import './business/StudentMul';
@import './business/announcement';
@import './business/search';
@import './business/bedroom';
@import './business/greadesMul';