<cs-popup v-model="popupVisible" background="transparent" position="bottom" :modal="false">
    <div class="cs-evaluate" ref="main">
        <h1>
            <b>{{ title }}</b>
            <span @click="close"></span>
        </h1>
        <div>
            <div class="cs-evaluate-bar">
                <span v-for="(item, index) in EvaluateSource" :key="item.id" :class="[selectIndex == index ? 'active':'']" @click="toggle(index)" v-text="item.name"></span>
                <span @click="toggle(-1)" :class="[selectIndex == -1 ? 'active': '']">文字评价</span>
            </div>
            <div class="cs-evaluate-content">
                <div class="cs-evaluate-tab" v-for="(source, index) in EvaluateSource" :key="source.id" v-show="selectIndex == index">
                    <div class="row">
                        <h2><i class="icon-by"></i>表扬</h2>
                        <div class="cs-evaluate-item-container">
                            <div class="cs-evaluate-item" v-for="item in source.commend" @click="close(item)">
                                <img src="assets/system/set_0.png" alt="">
                                <h3 v-text="item.name"></h3>
                                <span v-text="(item.value>0?'+':'-') + Math.abs(item.value)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2><i class="icon-dgj"></i>待改进</h2>
                        <div class="cs-evaluate-item-container">
                            <div class="cs-evaluate-item is-improve" v-for="item in source.improve" @click="close(item)">
                                <img src="assets/system/set_0.png" alt="">
                                <h3 v-text="item.name"></h3>
                                <span v-text="(~~item.value >= 0 ? '+':'') + item.value"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cs-evaluate-tab" v-show="selectIndex == -1">
                    <textarea cols="30" rows="10" v-model="textVal"></textarea>
                    <cs-button type="primary" size="large" @click="close(textVal)">发送</cs-button>
                </div>
            </div>
        </div>
    </div>
</cs-popup>