<transition :name="transitionName">
    <cs-page class="cs-bedroom common-style-1" :class="{ 'top-layer':topLayer }">
        <cs-header title="寝室评价" v-show="!searchState">
            <router-link to="/Main/Bedroom/MyMessage" slot="left">
                <div class="img-header">
                    <img src="/assets/system/icon-Greades01.png" class="header" alt="">
                    <img src="/assets/system/icon-Greades02.png" class="msg" alt="">
                    <div class="msg-box">1</div>
                </div>
            </router-link>
            <cs-button slot="right" icon="fa fa-search" @click="searchState = !searchState"></cs-button>
            <cs-button slot="right" class="line"></cs-button>
            <router-link to="" slot="right">
                <cs-button icon="fa fa-bars" @click.native="action1"></cs-button>
            </router-link>
        </cs-header>
        <cs-search v-model="search" :show="searchState" v-show="searchState" ref="search"></cs-search>
        <cs-contenter>
            <div class="section-container">
                <ul class="content-box">
                    <li v-for="item in 50" class="content" @click="showModal">
                        <div class="show-img">
                            <img src="/assets/system/house3.png" class="msg" alt="">
                            <span class="score score1">-30</span>
                            <span class="score score2">+30</span>
                        </div>
                        <div class="state-list">101</div>
                    </li>
                </ul>
            </div>
        </cs-contenter>
        <cs-footer v-show="!searchState || search!=''">
            <router-link to="/Main/Bedroom/bedroomMul">
                <img src="/assets/system/icon-Greades09.png" alt="">
                <span>多选评价</span>
            </router-link>
            <router-link to="/">
                <img src="/assets/system/icon-Greades08.png" alt="">
                <span>重新计分</span>
            </router-link>
            <router-link to="/Main/Bedroom/Statistics">
                <img src="/assets/system/icon-Greades06.png" alt="">
                <span>统计分析</span>
            </router-link>
        </cs-footer>
        <cs-actionsheet :actions="btnName" v-model="sheet1.sheetVisible"></cs-actionsheet>
        <cs-evaluate ref="modal"></cs-evaluate>
    </cs-page>
</transition>